.text-center{
    display: flex;
    justify-content: center;
}
.text{
    font-weight: bold;
    font-family: georgia;
}

img{
    max-width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center2{
    display: flex;
    justify-content: center;
    background-color: snow;
}

.background{
    background-color: #ebebe0;
}